In [ ]:
%reload_ext streaming_jupyter_integrations.magics

In [ ]:
%load_config_file --path ./sample_config.json

In [ ]:
%%flink_execute_sql
CREATE TABLE datagen (
    id INT
) WITH (
    'connector' = 'datagen',
    'number-of-rows' = '{ maximum_number_of_rows }'
)

In [ ]:
%%flink_execute_sql
SHOW TABLES

In [ ]:
%%flink_execute_sql
SELECT * FROM datagen