In [ ]:
%load_ext streaming_jupyter_integrations.magics

In [ ]:
%flink_connect

In [ ]:
%%flink_execute_sql
CREATE TABLE users (
    id INT PRIMARY KEY,
    name VARCHAR,
    surname VARCHAR,
    age INT
) WITH (
    'connector' = 'datagen',
    'number-of-rows' = '5'
);

In [ ]:
%%flink_execute_sql
CREATE TABLE orders (
    id INT PRIMARY KEY,
    user_id INT NOT NULL,
    created TIMESTAMP
) WITH (
    'connector' = 'datagen',
    'number-of-rows' = '5'
);

In [ ]:
%flink_show_table_tree